[class*="col-"] {
    width: 100%;
    }

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 8vw;
   margin: 0;
   position: relative;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%,-50%);
}

header{
    width: 100%;
    height: 200px;
    background-image: url("images/denhaag.jpeg");
    background-size: contain;
}

#feiten{
    background-color: #E3Dc95; 
    padding: 15px;
}

#attractie{
    background-color: #A6A867;
    padding: 15px;
}

img{
    float: right;
    width: auto;
    height: auto;
    max-height: 150px;
    margin: 0px 15px 15px 15px;
}

body{
    background-color: #e3dcc2;
}

footer{
    background-color: #51513D;
    width: 100%;
    height: 80px;
    display: flex; 
}

.copyright{
    margin: auto;
}

@media only screen and (min-width: 768px) 
{body{background-color: #1B2021;}
[class*="col-"] {
    float: left;
    padding: 15px;
    }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
img{
    float: right;
    width: 25%;
    height: 25%;
    padding-right: 5px;
}  }